.plv-player-time-seek {
  opacity: 0;
  width: unset;
  height: unset;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: rgba(0,0,0,0.3);
  padding: 10px 10px;

  &__full__opacity {
    opacity: 1;
  }

  &__fadeOut {
    opacity: 0;
    transition: all 600ms;
  }
}
